$icon-font-path: "/fonts/bootstrap/";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-image: url("/img/space.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    min-width: 180px;
}

.header {
    background-color: #fff;
    margin-bottom: 18px;
    padding: 15px 0;
    border-bottom: solid 3px darken(#697BA1, 10);

    h1 {
        color: darken(#697BA1, 10);
        font-size: 32px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .fa {
        margin-left: 20px;
        color: lighten(#697BA1, 10);
    }
}

.editor {
    background-color: #263238;
    border-radius: 4px;
    position: relative;

    .ace_editor {
        background-color: transparent !important;

        .ace_gutter {
            background-color: transparent !important;
            border-right: none !important;
        }

        .ace_gutter-cell {
            color: #4a5559 !important;
        }

        .ace_active-line, .ace_gutter-active-line {
            background-color: #212b30 !important;
        }

        .ace_scroller {
            bottom: 0 !important;
            right: 0 !important;
        }

        .ace_scrollbar {
            display: none;
        }

        .ace_php_tag {
            color: #8cddf2 !important;
        }

        .ace_identifier, .ace_class, .ace_line, .ace_variable, .ace_paren {
            color: #eeffff !important;
        }

        .ace_string {
            color: #c4e791 !important;
        }

        .ace_keyword {
            color: #c694e8 !important;
        }

        .ace_function {
            color: #84acfc !important;
        }

        .ace_escape {
            color: #8cddf2 !important;
        }

        .ace_selection {
            background-color: #3c4d56 !important;
        }

        .ace_fold-widget {
            display: none !important;
        }

        .ace_cursor {
            border-left-color: #159588 !important;
        }

        .ace_bracket {
            display: none !important;
        }

        .ace_constant {
            color: #ee727a !important;
        }
    }

    .controls {
        font-size: 0;

        .control-close, .control-minimise, .control-maximise {
            width: 12px;
            height: 12px;
            margin-top: 16px;
            margin-right: 0;
            margin-bottom: 8px;
            margin-left: 16px;
            border-radius: 100%;
            display: inline-block;
        }

        .control-close {
            background-color: #fc615d;
        }

        .control-minimise {
            background-color: #fdbc40;
        }

        .control-maximise {
            background-color: #34c84a;
        }
    }

    .tabs {
        margin-bottom: 8px;

        button {
            border-top: 0;
            border-right: 0;
            border-bottom: solid 2px transparent;
            border-left: 0;
            padding: 0 12px;
            height: 40px;
            line-height: 40px;
            background-color: transparent;
            outline: none;
            width: 150px;
            text-align: left;
            color: #eeffff;
            font-size: 12px;
            cursor: pointer;
            position: relative;

            &.selected {
                border-bottom-color: #009688;
            }

            .indicator {
                border: solid 2px #009688;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                position: absolute;
                top: 16px;
                right: 16px;
            }
        }
    }

    .tab-warning {
        position: absolute;
        bottom: 15px;
        right: 15px;
        padding: 15px 20px;
        border-radius: 2px;
        color: darken(#FFCE7B, 60);
        background-color: #FFCE7B;
        box-shadow: 0 2px 0 3px darken(#FFCE7B, 10);
        z-index: 10;
    }
}

.buttons {
    text-align: center;
    font-size: 0;
    padding: 15px 0 3px 0;

    button {
        border-radius: 2px;
        border: none;
        outline: none;
        margin: 0 10px 18px 10px;
        padding: 15px 20px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;

        &.example {
            color: lighten(#697BA1, 60);
            background-color: #697BA1;
            box-shadow: 0 2px 0 3px darken(#697BA1, 10);
        }

        &.process {
            color: lighten(#697BA1, 60);
            background-color: #697BA1;
            box-shadow: 0 2px 0 3px darken(#697BA1, 10);
        }

        &.busy {
            opacity: 0.5;
        }
    }
}

.content {
    line-height: 2;
    background-color: #fff;
    border-top: solid 3px darken(#697BA1, 10);
    padding: 0 0 15px 0;
    font-size: 15px;

    a {
        text-decoration: underline;
        color: darken(#697BA1, 20);
    }

    hr {
        border-top-color: lighten(#697BA1, 30);
        margin: 30px 0 0 0;
    }

    h2 {
        color: darken(#697BA1, 10);
        font-size: 22px;
        font-weight: bold;
        margin: 33px 0 15px 0;
        padding: 0;
    }

    .code-wrapper {
        background-color: lighten(#697BA1, 30);
        padding: 10px;
        margin: 15px 0;
        border-radius: 2px;
        overflow-x: auto;
    }

    code {
        background-color: lighten(#697BA1, 30);
        color: darken(#697BA1, 20);
        white-space: pre;
        font-family: "Fira Mono";
        border-radius: 2px;
    }

    ol {
        color: darken(#697BA1, 20);
        margin: 30px 0 0 0;
        padding: 0 0 0 1em;
    }
}
